#board{padding: 0 25px;}
#board .title-wrap{
  position: relative;
  /* border: 1px solid #ff3939; */
  margin: 40px 0;
}
#board .title-wrap i{
  position: absolute;
  top: 5px;
  left: 0;
  font-size: 25px;
  font-weight: 700;
}
#board .title-wrap .title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#board .title-wrap .title h1{
  margin-bottom: 20px;
}

#board .tab-wrap{
  display: flex;
  margin-bottom: 40px;
  gap: 20px;
}


/* 게시글 카드 */
.board-card{
  padding: 20px;
  width: 380px;
  position: relative;
  margin-bottom: 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.board-card>i{
  position: absolute;
  top: -2px;
  left: 12px;
  color: var(--color-secondary);
  font-size: 24px;
}
.board-card .card-profile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 200px;
  height: 25px;
  margin-bottom: 40px;
}
.board-card .card-profile .name{
  display: flex;
}
.board-card .card-profile i{
  font-size: 20px;
  margin-right: 5px;
}
.board-card .card-profile img{
  width: 20px;
  margin-right: 5px;
}

.board-card .card-content{
  margin: 0 auto 40px;
}
.board-card .card-content h4{
  margin-bottom: 15px;
}
.board-card .card-content img{
  margin-bottom: 15px;
}
.board-card .card-content p{
  width: 340px;
  height: 65px;
  overflow: hidden;
  line-height: 17px;
}

.board-card .card-bottom{
  display: flex;
  justify-content: space-between;
}
.board-card .card-bottom .card-bt-right{
  display: flex;
  column-gap: 15px;
}
.board-card .card-bottom p,
.board-card .card-bottom i{
  font-size: 14px;
  font-weight: 400;
  color: var(--color-gray-6);
}
.board-card .card-bottom .heart i{
  font-size: 16px;
}
.board-card .card-bottom .heart,
.board-card .card-bottom .comment{
  display: flex; 
  column-gap: 5px;
}
/* 게시글 카드 여기까지 */
