.board{
  padding: 0 25px;
}

.m-top{
  display: flex;
  justify-content: space-between;
}
.m-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  z-index: 1002;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1001; /* m-container보다 아래로 조절 */
}

.modal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal h3{
  position: absolute;
  top: 20px;
  left: 20px;
}

.m-content {
  display: flex;
  justify-content: center;
  margin: 50px 0 10px;
  width: 275px;
}

.tab-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 20px 20px;
}

.tab-list .tab-button {
  margin-right: 0 !important;
}

.board .board-card.last{
  margin-bottom: 140px;
}

