#cafe .title-wrap{
  margin-top: 220px;
}

#cafe .container-wrap{
  padding-bottom: 96px;
}

#cafe .cafe-item{
  width: 100%;
  max-width: 380px;
  overflow: hidden;
  padding-bottom: 30px;
}
#cafe .cafe-item:last-child{
  margin-bottom: 40px;
}
#cafe .cafe-item img{
  height: 245px;
  width: 100%;
  max-width: 380px;
  object-fit: cover;
}
#cafe .cafe-desc{
  width: 100%;
  max-width: 380px;
  margin-top: 25px;
  padding: 0 20px;
}
#cafe .cafe-desc .cafe-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#cafe .cafe-desc .cafe-title i{
  font-size: 24px;
  color: crimson;
}
#cafe .cafe-desc p.small{
  color: var(--color-primary);
  margin-top: 5px;
}
#cafe .cafe-desc p{
  margin-top: 10px;
}