/* font */
@import url("https://cdn.jsdelivr.net/npm/@xpressengine/xeicon@2.3.3/xeicon.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap");

/* color */
:root {
  --color-primary: #4a90e2;
  --color-secondary: #fb9225;
  --color-black: #222222;
  --color-gray-6: #666666;
  --color-gray-9: #999999;
  --color-gray-c: #cccccc;
  --color-gray-light: #f0f0f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  color: var(--color-black);
  background-color: var(--color-gray-light);
  scroll-behavior: smooth;
  background-color: #EAF4FF;
}

body{
  font-family: "Pretendard";
  background-color: white;
  width: 100%;
  max-width: 430px;
}
.all{
  max-width: 430px;
  background-color: white;
}


li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
}
.container-wrap {
  margin: 0 25px;
}

.container-fluid {
  margin: 0;
}

.section {
  margin-bottom: 40px;
}

/* title text */
h1 {
  font-weight: 600;
  font-size: 32px;
}
h2 {
  font-weight: 400;
  font-size: 22px;
}

/* body text */
h3 {
  font-weight: 600;
  font-size: 22px;
}
h4 {
  font-weight: 600;
  font-size: 20px;
}
p{
  font-weight: 400;
  font-size: 18px;
}
p.middle {
  font-weight: 400;
  font-size: 16px;
}
p.small {
  font-weight: 400;
  font-size: 14px;
}

/* common items_________________________________ */

/* 타이틀 정렬 */
.title-wrap {
  position: relative;
  margin: 166px 0 40px;
  width: 100%;
  max-width: 430px;
}
.title-wrap i {
  position: absolute;
  top: 5px;
  left: 0;
  font-size: 25px;
  font-weight: 700;
  margin-left: 20px;
}
.title-wrap .title {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 로고 */
.logo a {
  font-family: "Baloo 2", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 32px;
  color: var(--color-primary);
}
.logo span {
  color: var(--color-secondary);
}

/* 카드 */
.card {
  margin-bottom: 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

/* 탭버튼 */
.tab-button {
  display: inline-block;
  border-radius: 50px;
  height: 40px;
  padding: 0 25px;
  line-height: 40px;
  background-color: var(--color-gray-light);
  color: var(--color-black);
  margin-right: 20px;
}
.tab-button.active {
  background-color: var(--color-primary);
  color: white;
}

/* 탭 스와이퍼 */
.tabSwiper {
  width: 100%;
  height: 40px;
  margin-bottom: 40px;
  padding-left: 25px;
}
.tabSwiper .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

/* 토글 탭버튼 */
.toggle.tab-wrap {
  overflow: visible;
  white-space: nowrap;
}
.custom-dropdown {
  position: relative;
  cursor: pointer;
}
.custom-dropdown .dropdown-menu {
  display: none;
  position: absolute;
  top: 45px;
  left: 0;
  background-color: var(--color-gray-light);
  color: var(--color-primary);
  border: none;
  border-radius: 10px;
  z-index: 1000;
}
.custom-dropdown .dropdown-menu li {
  padding: 0 30px;
  white-space: nowrap;
  cursor: pointer;
}
.custom-dropdown .dropdown-menu li:hover {
  color: #f2f2f2;
  background-color: var(--color-primary);
}
.dropdown-menu {
  display: none;
}
.dropdown-menu.open {
  display: block;
}

/* 하단 버튼 */
.bottom-btn {
  background-color: var(--color-primary);
  width: 100%;
  max-width: 380px;
  height: 65px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.bottom-btn h4 {
  font-weight: 500;
}

/* 아이콘 모음 */
.icons {
  font-size: 36px;
  color: #222222;
}

/* 탑버튼 */
main {
  position: relative; /* top 버튼의 기준 */
}
.top {
  position: fixed;
  right: 5%;
  bottom: 17%;
  z-index: 50;
}
.top i {
  font-size: 28px;
  padding: 18px;
  border-radius: 50%;
  background: var(--color-primary);
  color: white;
}
/* 찜하트 */
.heart-toggle i {
  font-size: 30px;
  color: crimson;
}

/* 글쓰기버튼 */
.write-btn {
  width: 65px;
  height: 65px;
  background-color: var(--color-primary);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 미니 탭 */
.mini-tab {
  display: inline-block;
  border-radius: 50px;
  border: 1px solid var(--color-primary);
  height: 26px;
  padding: 0 10px;
  line-height: 26px;
  background-color: white;
  color: var(--color-primary);
  font-size: 14px;
}

/* 게시글 카드 */
.board-card {
  padding: 20px;
  width: 100%;
  max-width: 380px;
  margin-bottom: 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.board-card .card-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  margin-bottom: 40px;
}
.board-card .card-profile .name {
  display: flex;
}
.board-card .card-profile i {
  font-size: 20px;
  margin-right: 5px;
}
.board-card .card-profile img {
  width: 20px;
  margin-right: 5px;
}
.board-card .card-content {
  margin: 0 auto 40px;
}
.board-card .card-content h4 {
  margin-bottom: 15px;
}
.board-card .card-content img {
  margin-bottom: 15px;
  width: 100%;
  height: 172px;
  object-fit: cover;
  border-radius: 3px;
}
.board-card .card-content p {
  width: 100%;
  height: 65px;
  overflow: hidden;
  line-height: 17px;
}
.board-card .card-bottom {
  display: flex;
  justify-content: space-between;
}
.board-card .card-bottom .card-bt-right {
  display: flex;
  column-gap: 15px;
}
.board-card .card-bottom p,
.board-card .card-bottom i {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-gray-6);
}
.board-card .card-bottom .heart i {
  font-size: 16px;
}
.board-card .card-bottom .heart,
.board-card .card-bottom .comment {
  display: flex;
  column-gap: 5px;
}


/* 찜하트 */
.heart-toggle i {
  font-size: 30px;
  color: crimson;
}


/* 왼쪽 푸터 */

.left{
  /* border: 1px solid #000; */
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 20%;
}
.left::before{
  content: '';
  display: block; 
  width: 100%; 
  height: 100%;
  background: url(/assets/images/common/mo.png) no-repeat center / contain;
  position: absolute;
  top: -300px;
  left: -260px;
  animation: ro-ani 3s linear infinite; 
}
.left::after{
  content: '';
  display: block; 
  width: 100%; 
  height: 100%;
  background: url(/assets/images/common/dice.png) no-repeat center / contain;
  position: absolute;
  top: 270px;
  right: -980px;
  animation: dung-ani 3s linear infinite; 
}

.left-top{
  display: flex;
  flex-direction: column;
  padding-bottom: 200px;
}
.left .left-top img{
  margin-bottom: 15px;
  width: 253px;
}
.left img:first-child{
  width: 80%;
}
.left img:last-child{
  margin-bottom: 40px;
}
.left .left-middle{
  display: flex;
  gap: 50px;
}
.left ul li{
  font-size: 14px;
  margin-bottom: 7px;
}
.left-bt{
  margin: 20px 0;
}
.left .caption em{
  color: var(--color-secondary);
  font-style: normal;
  font-size: 12px;
}
.left .caption p{
  font-size: 12px;
  color: var(--color-gray9);
  margin-top: 10px;
}

@keyframes dung-ani{
  0% {transform: translateY(0);}
	50% {transform: translateY(-30px);}
	100% {transform: translateY(0);}
}

@keyframes ro-ani{
  0% {rotate: -20deg;}
	50% {rotate: 0deg;}
	100% {rotate: -20deg;}
}

@media (max-width: 1600px) {
  .left{display: none;}
}