/* font */
@import url('https://cdn.jsdelivr.net/npm/@xpressengine/xeicon@2.3.3/xeicon.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
@font-face{
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}
/* color */
:root{
  --color-primary: #4A90E2;
  --color-secondary: #FB9225;
  --color-black: #222222;
  --color-gray-6: #666666;
  --color-gray-9: #999999;
  --color-gray-c: #CCCCCC;
  --color-gray-light: #F0F0F0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  color: var(--color-black);
  background-color: var(--color-gray-light);
}

body{
  font-family: 'Pretendard-Regular';
  width: 100%;
  max-width: 430px;
  background-color: white;
}

li {
	list-style: none;
}

a{
  text-decoration: none;
  color: var(--color-black);
}
.container-wrap{
  margin: 0 25px;
}

.container-fluid{
  margin: 0;
}

.section{
  margin-bottom: 40px;
}

/* title text */
h1{
  font-family: 'Pretendard-Regular';
  font-weight: bold;
  /* font-style: normal; */
  font-size: 32px;
}
h2{
  font-family: 'Pretendard-Regular';
  font-weight: 400;
  font-size: 22px;
}

/* body text */
h3{
  font-weight: bold;
  font-size: 22px;
}
h4{
  font-weight: bold;
  font-size: 20px;
}
p{
  font-weight: 400;
  font-size: 18px;
}
p.middle{
  font-weight: 400;
  font-size: 16px;
}
p.small{
  font-weight: 400;
  font-size: 14px;
}

/* 로고 */
.logo a{
  font-family: "Baloo 2", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 32px;
  color: var(--color-primary);
}
.logo span{
  color: var(--color-secondary);
}

/* common items_________________________________ */

/* 타이틀 정렬 */
.title-wrap{
  position: relative;
  margin: 166px 25px 40px;
  width: 100%;
  max-width: 380px;
}
.title-wrap i{
  position: absolute;
  top: 5px;
  left: 0;
  font-size: 25px;
  font-weight: 700;
}
.title-wrap .title{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 카드 */
.card{
  margin-bottom: 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

/* 탭버튼 */
.tab-button{
  display: inline-block;
  border-radius: 50px;
  height: 40px;
  padding: 0 25px;
  line-height: 40px;
  background-color: var(--color-gray-light);
  color: var(--color-black);
  margin-right: 20px;
}
.tab-button.active{
  background-color: var(--color-primary);
  color: white;
}
.tab-wrap{
  display: flex;
  width: 100%;
  max-width: 430px;
  padding-left: 25px;
  height: 40px;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 0 40px;
}
.tab-items{
  width: 100%;
}

/* 하단 버튼 */
.bottom-btn{
  background-color: var(--color-primary);
  width: 100%;
  max-width: 380px;
  height: 65px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

/* 아이콘 모음 */
.icons{
  font-size: 36px;
  color: #222222;
}
.write-btn{
  width: 65px;
  height: 65px;
  background-color: var(--color-primary);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 미니 탭 */
.mini-tab{
  display: inline-block;
  border-radius: 50px;
  border: 1px solid var(--color-primary);
  height: 26px;
  padding: 0 10px;
  line-height: 26px;
  background-color: white;
  color: var(--color-primary);
  font-size: 14px;
}

/* 게시글 카드 */
.board-card{
  padding: 20px;
  width: 100%;
  max-width: 380px;
  margin-bottom: 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.board-card .card-profile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  margin-bottom: 40px;
}
.board-card .card-profile .name{
  display: flex;
}
.board-card .card-profile i{
  font-size: 20px;
  margin-right: 5px;
}
.board-card .card-profile img{
  width: 20px;
  margin-right: 5px;
}
.board-card .card-content{
  margin: 0 auto 40px;
}
.board-card .card-content h4{
  margin-bottom: 15px;
}
.board-card .card-content img{
  margin-bottom: 15px;
  width: 340px;
  height: 172px;
  object-fit: cover;
  border-radius: 3px;
}
.board-card .card-content p{
  width: 340px;
  height: 65px;
  overflow: hidden;
  line-height: 17px;
}
.board-card .card-bottom{
  display: flex;
  justify-content: space-between;
}
.board-card .card-bottom .card-bt-right{
  display: flex;
  column-gap: 15px;
}
.board-card .card-bottom p,
.board-card .card-bottom i{
  font-size: 14px;
  font-weight: 400;
  color: var(--color-gray-6);
}
.board-card .card-bottom .heart i{
  font-size: 16px;
}
.board-card .card-bottom .heart,
.board-card .card-bottom .comment{
  display: flex; 
  column-gap: 5px;
}

/* 카드 */
.card{
  margin-bottom: 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

/* 탭버튼 */
.tab-button{
  display: inline-block;
  border-radius: 50px;
  height: 40px;
  padding: 0 25px;
  line-height: 40px;
  background-color: var(--color-gray-light);
  color: var(--color-black);
  margin-right: 20px;
}
.tab-button.active{
  background-color: var(--color-primary);
  color: white;
}
.tab-wrap{
  display: flex;
  width: 100%;
  max-width: 430px;
  padding-left: 25px;
  height: 40px;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 0 40px;
}
.tab-items{
  width: 100%;
}

/* 하단 버튼 */
.bottom-btn{
  background-color: var(--color-primary);
  width: 100%;
  max-width: 380px;
  height: 65px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

/* 아이콘 모음 */
.icons{
  font-size: 36px;
  color: #222222;
}
.write-btn{
  width: 65px;
  height: 65px;
  background-color: var(--color-primary);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 미니 탭 */
.mini-tab{
  display: inline-block;
  border-radius: 50px;
  border: 1px solid var(--color-primary);
  height: 26px;
  padding: 0 10px;
  line-height: 26px;
  background-color: white;
  color: var(--color-primary);
  font-size: 14px;
}

/* 게시글 카드 */
.board-card{
  padding: 20px;
  width: 100%;
  max-width: 380px;
  margin-bottom: 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.board-card .card-profile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  margin-bottom: 40px;
}
.board-card .card-profile .name{
  display: flex;
}
.board-card .card-profile i{
  font-size: 20px;
  margin-right: 5px;
}
.board-card .card-profile img{
  width: 20px;
  margin-right: 5px;
}
.board-card .card-content{
  margin: 0 auto 40px;
}
.board-card .card-content h4{
  margin-bottom: 15px;
}
.board-card .card-content img{
  margin-bottom: 15px;
  width: 340px;
  height: 172px;
  object-fit: cover;
  border-radius: 3px;
}
.board-card .card-content p{
  width: 340px;
  height: 65px;
  overflow: hidden;
  line-height: 17px;
}
.board-card .card-bottom{
  display: flex;
  justify-content: space-between;
}
.board-card .card-bottom .card-bt-right{
  display: flex;
  column-gap: 15px;
}
.board-card .card-bottom p,
.board-card .card-bottom i{
  font-size: 14px;
  font-weight: 400;
  color: var(--color-gray-6);
}
.board-card .card-bottom .heart i{
  font-size: 16px;
}
.board-card .card-bottom .heart,
.board-card .card-bottom .comment{
  display: flex; 
  column-gap: 5px;
}