nav#navigation {
  width: 430px;
  height: 96px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0px 0px 5px 1px rgba(179, 179, 179, 0.2);
  /* border-radius: 8px 8px 0 0; */
  position: fixed;
  bottom: 0;
  z-index: 10;
}

nav#navigation ul.nav-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 62px;
  font-size: 36px;
}
nav#navigation ul.nav-bar li a{
  color: var(--color-gray-c);
  transition: color 0.3s ease;
}
nav#navigation ul.nav-bar li a.active{
  color: var(--color-secondary);
}
nav#navigation ul.nav-bar a{
  color: var(--color-gray-c);
  transition: color 0.3s ease;
}
nav#navigation ul.nav-bar a.active{
  color: var(--color-secondary);
  transition: color 0.2s ease;
}
