main{
  /* border: 1px solid green; */
}
#banner img{
  width: 430px;
  height: 430px;
  border-radius: 120px;
}


#banner.swiper-slide{
  text-align: center;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 인디케이터 모양이랑 색상 바꾸기 */
.swiper-pagination-bullet-active{
  opacity: 1;
  background-color: var(--color-secondary);
}
.swiper-pagination-bullet{
  display: inline-block;
}

/* main icon */
#home-icons{
  width: 430px;
  height: 110px;
  padding-top: 20px;
}
#home-icons .icons-item{
  width: 380px;
  height: 100px;
  margin: auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border: 1px solid blue;
}
#home-icons .icons-item .icons{
  text-align: center;
  width: 120px;
  height: 50px;
  border: 1px solid #000;
  margin-bottom: 20px;
}
#home-icons .icons-item p.small{
  text-align: center;
  color: var(--color-gray-9);
  border: 1px solid red;
}
#best-ranking{
  width: 430px;
  height: 730px;
  justify-content: center;
  text-align: center;
  background-color: var(--color-black);
  color: white;
}
#best-ranking .title-wrap{
  padding: 90px 80px;
}
#best-ranking .title-wrap p{
  margin-top: 6px;
}
#best-ranking .best-wrap{
  /* border: 1px solid #000; */
  position: relative;
  height: 420px;
}
#best-ranking .best-wrap ul.best-rank{
  /* border: 1px solid #000; */
  display: flex;
  align-items: center;
}
#best-ranking .best-wrap ul.best-rank li{
  border: 1px solid red;
}
#best-ranking .best-wrap ul.best-rank li h6{
  position: absolute;
  font-size: 100px;
  font-family: 'Pretendard-Regular';
  font-weight: ExtraBold;
  margin-left: 20px;
  z-index: 10;
}

#best-ranking .best-wrap ul.best-rank img{
  width: 280px;
  height: 300px;
  border-radius: 5px;
  margin-top: 60px;
}
#best-ranking .best-wrap h2{
  margin-top: 20px;
}

#best-post{
  height: 586px;
  background-color: #F6F6F6;
  color: var(--color-black);
}
#best-post .card-container{
  padding: 20px 0;
}
#best-post .card-container .post-text{
  margin: 20px;
  padding-bottom: 20px;
}

/* right arrow */
#best-post .card-container .post-text i{
  color: var(--color-gray-9);
  font-weight: bold;
  margin-left: 10px;
}

#best-post ul.card{
  width: 380px;
  height: 420px;
  display: flex;
  justify-content: center;
  margin: 20px;
}

/* 게시글 이미지 */
#best-post ul.card .card-item img{
  width: 340px;
  height: 170px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

#best-post ul.card .card-top{
  /* border: 1px solid #000; */
  display: flex;
  align-items: center;
  margin: 10px 0;
}
#best-post ul.card .card-top i{
  margin: 10px 20px 5px;
  font-size: 24px;
}
#best-post ul.card .card-item p.middle{
  /* border: 1px solid #000; */
  margin: 10px 20px;
  height: 66px;
  overflow: hidden;
}

/* 조회수, 반응 */
#best-post ul.card .caption{
  border: 1px solid #000;
  display: flex;
  align-items: center;
  margin: 0 20px ;        /* 내려야됨 */
}
#best-post ul.card .caption .watch{
  margin-right: 180px;
}
#best-post ul.card .caption .reaction{
  display: inline-block;
  /* border: 1px solid #000; */
}
#best-post ul.card .caption .reaction i{
  margin: 8px 4px;
}