#banner {
  padding-top: 130px;
}
#banner img {
  width: 430px;
  height: 430px;
  /* border-radius: 120px; */
}

#banner.swiper-slide {
  text-align: center;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* main icon */
#home-icons {
  width: 430px;
  height: 110px;
  padding: 20px auto;
}
#home-icons .icons-item {
  width: 380px;
  height: 100px;
  margin: auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
#home-icons .icons-item .icons {
  text-align: center;
  width: 120px;
  height: 50px;
  margin-bottom: 20px;
}
#home-icons .icons-item p.small {
  text-align: center;
  color: var(--color-gray-9);
}
/* best-ranking ALL */
#best-ranking {
  width: 430px;
  min-height: 600px;
  justify-content: center;
  text-align: center;
  background-color: var(--color-black);
  color: white;
  position: relative;
  overflow: hidden;
  padding-bottom: 60px;
}
#best-ranking .title-wrap {
  padding: 60px 5px 30px;
}
#best-ranking .title-wrap p {
  margin-top: 10px;
}
#best-ranking .swiper .best-wrap {
  position: relative;
  height: 600px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  width: 500px;
  margin: 0 auto;
}
#best-ranking .swiper .best-wrap ul.best-rank {
  border: 1px solid #000;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  width: auto;
  transition: transform 0.5s ease-in-out;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transform-style: preserve-3d;
  perspective: 1000px;
}
#best-ranking .best-wrap ul.best-rank li {
  flex-shrink: 0;
  width: 280px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  padding: 10px;
  transform: scale(0.85);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0.4;
  position: relative;
  z-index: 1;
}
#best-ranking .best-wrap ul.best-rank li.active {
  transform: scale(1);
  opacity: 1;
  z-index: 100;
}
#best-ranking .best-wrap ul.best-rank li.prev-slide,
#best-ranking .best-ranking .best-wrap ul.best-rank li.next-slide {
  transform: scale(0.9); /* active보다는 작고 일반 li보다는 살짝 크게 */
  opacity: 0.7; /* active보다는 투명하고 일반 li보다는 선명하게 */
  z-index: 5; /* active보다는 낮고 일반 li보다는 높게 */
}
#best-ranking .best-wrap ul.best-rank li h6 {
  position: absolute;
  font-size: 100px;
  font-family: "Pretendard-Regular";
  font-weight: 900;
  margin-left: 20px;
  z-index: 20;
}
#best-ranking .best-wrap ul.best-rank img {
  width: 280px;
  /* width: 100%; */
  /* height: 100%; */
  height: 300px;
  /* max-height: 280px; */
  border-radius: 5px;
  margin-top: 60px;
  object-fit: cover;
}
#best-ranking .best-wrap ul.best-rank h2 {
  margin-top: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

/* best-post all */
#best-post {
  height: 650px;
  background-color: #f6f6f6;
  color: var(--color-black);
  overflow: hidden;
  width: 430px;
}

#best-post .post-text {
  margin: 20px;
  padding: 10px 0;
}

/* right arrow */
#best-post .post-text i {
  color: var(--color-gray-9);
  font-weight: bold;
  margin-left: 5px;
  justify-content: center;
  align-items: center;
}

/* best-post */
#best-post .post-text{
  margin-top: 50px;
}
#best-post .swiper {
  width: 100%;
  height: 500px;
  /* padding: 25px; */
}
#best-post .swiper-wrapper {
  display: flex;
  align-items: center;
}
#best-post .board-card {
  width: 380px;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  /* flex-shrink: 0; */
  padding: 20px;
  /* border: 1px solid red; */
  /* position: relative; */
  margin-bottom: 10px;
}
#best-post .swiper-slide .card-profile .name img {
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
#best-post .swiper-slide .board-card {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  position: absolute;
}

#best-post .swiper-slide .card-content img{
  object-fit: cover;
  width: 94%;
}
#best-post .swiper-slide .card-content {
  overflow: hidden;
}
#best-post .swiper-slide .card-content 
#best-post .swiper-slide .card-bottom .bottom-right,
#best-post .swiper-slide .card-bottom .card-bt-right {
  /* display: flex; */
  gap: 15px;
}

/* ad banner */
#admin{
  padding: 20px 0;
}
#admin img {
  width: 100%;
  /* border-radius: 120px; */
}

#admin .swiper-slide {
  text-align: center;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#admin .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* group section */
#group{
  width: 430px;
  height: 600px;
}
#group .group-title{
  margin: 20px;
  padding: 10px 0;
}
#group .group-title i {
  color: var(--color-gray-9);
  font-weight: bold;
  margin-left: 5px;
  justify-content: center;
  align-items: center;
}

#group .group-wrap{
  border: 1px solid #000;
}
#group .group-card{
  width: 380px;
  height: 200px;
  justify-content: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  align-items: center;
  margin: 20px;
}
