#login .title-wrap .title h1{
  margin-bottom: 0;
}

#login input{
  width: 100%;
  padding: 25px 30px;
  border-radius: 8px;
  margin-bottom: 20px;
  outline: none;
  border: 2px solid var(--color-gray-light);
  font-size: 18px;
}
#login input::placeholder{
  color: var(--color-gray-6); 
}
#login input