#search .search-bar{
    max-width: 380px;
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
}

#search .search-bar input.search{
  width: 100%;
  padding: 0 30px;
  height: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
  outline: none;
  border: 2px solid var(--color-primary);
  font-size: 16px;
}
#search .search-bar input.search::placeholder{
  color: var(--color-gray-9); 
}

#search .search-bar a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  position: absolute;
  top: 5px;
  bottom: 5px;
  right: 5px;
  border-radius: 8px;
  font-size: 24px;
  color: var(--color-primary);
  background-color: #fff;
  transition: 0.35s;
}
#search .search-bar a:hover{
  color: #fff;
  background-color: var(--color-primary);
}

#search .tabSwiper{
  margin-top: 20px;
}
#search .tab-button{
  transition: 0.3s;
}
#search .tabSwiper i{
  margin-left: 5px;
  transform: translateY(1px);
}
#search .tabSwiper .tab-button.close{
  display: none;
}

#search .search-items{
  padding: 20px 0 40px;
}
#search .search-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 10px;
}
#search .search-item:last-child{
  padding-bottom: 96px;
}
#search .search-item>div{
  display: flex;
  align-items: center;
}
#search .search-item span{
  font-family: "Baloo 2", sans-serif;
  font-weight: 900;
  font-size: 24px;
  width: 30px;
  margin-right: 10px;
  color: var(--color-gray-c);
  text-align: center;
}
#search .search-item span.top-rank{
  color: var(--color-secondary);
}

#search .search-item i{
  font-size: 20px;
}
#search .rank-keep{
  color: var(--color-gray-c);
  transform: translateX(-7px)
}
#search .xi-caret-up-min{ 
  color: crimson;
}
#search .xi-caret-down-min{
  color: royalblue;
}

@keyframes search-item-ani {
  0%{
    transform: translateY(30px);
    opacity: 0;
  }
  8%{
    transform: translateY(0);
    opacity: 1;
  }
}
#search .search-item:nth-child(1){
  animation: search-item-ani 10s ease-out infinite;
}
#search .search-item:nth-child(2){
  animation: search-item-ani 10s 0.8s ease-out infinite;
}
#search .search-item:nth-child(3){
  animation: search-item-ani 10s 1.6s ease-out infinite;
}
#search .search-item:nth-child(4){
  animation: search-item-ani 10s 2.4s ease-out infinite;
}
#search .search-item:nth-child(5){
  animation: search-item-ani 10s 3.2s ease-out infinite;
}
#search .search-item:nth-child(6){
  animation: search-item-ani 10s 4s ease-out infinite;
}
#search .search-item:nth-child(7){
  animation: search-item-ani 10s 4.8s ease-out infinite;
}
#search .search-item:nth-child(8){
  animation: search-item-ani 10s 5.6s ease-out infinite;
}
#search .search-item:nth-child(9){
  animation: search-item-ani 10s 6.4s ease-out infinite;
}
#search .search-item:nth-child(10){
  animation: search-item-ani 10s 7.2s ease-out infinite;
}