.subSwiper .swiper-wrapper{
  padding-left: 25px;
}
#shop-detail .container-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 150px;
}
#shop-detail .shop-item {
  width: 100%;
  max-width: 380px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  transition: transform 0.2s ease-in-out;
}
#shop-detail .card.shop-item:hover {
  /* transform: translateY(-5px); */
}

#shop-detail .shop-content {
  margin: 12px 0;
}
#shop-detail .shop-content .mini-tab{
  color: white;
  background-color: var(--color-secondary);
  border: var(--color-secondary);
}
#shop-detail .shop-content .shop-title {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}
#shop-detail .shop-title img {
  width: 100px;
  height: 140px;
  border-radius: 3px;
  object-fit: cover;
  flex-shrink: 0;
}
#shop-detail .shop-desc {
  flex: 1;
  padding: 0 20px 0 20px;
}
#shop-detail .shop-content .shop-desc h4 {
  color: var(--color-black);
  text-overflow: ellipsis;
}
#shop-detail .shop-desc .middle {
  margin: 12px auto;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
#shop-detail .shop-desc span {
  color: var(--color-secondary);
  font-weight: bold;
}
#shop-detail .user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-size: 12px;
  text-overflow: ellipsis;
}
#shop .shop-desc .user-info p.small {
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
}
#shop-detail .shop-bottom {
  color: var(--color-gray-6);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#shop-detail .shop-bottom .left p {
  white-space: nowrap;
  font-size: 12px;
}
#shop-detail .shop-bottom .right {
  display: flex;
  gap: 12px;
  align-items: center;
}
#shop-detail .shop-bottom .small {
  display: flex;
  align-items: center;
  gap: 4px;
}