/* user 공통 */
input.user-form{
  width: 100%;
  max-width: 380px;
  padding: 20px 30px;
  border-radius: 8px;
  margin-bottom: 20px;
  outline: none;
  border: 2px solid var(--color-gray-light);
  font-size: 16px;
}
input.user-form::placeholder{
  color: var(--color-gray-6); 
}
input.user-form:focus{
  border-color: var(--color-primary);
}

.checkbox{
  display: flex;
  align-items: center;
}
.checkbox input[type="checkbox"]{
  display: none;
}
.checkbox label{
  display: block;
  width:18px;
  height:18px;
  margin-right: 10px;
}
.checkbox input[type="checkbox"]+label{ 
  background-repeat: no-repeat; /* 반복 방지 */
  background-image: url('../images/common/unchecked.png'); /*off 이미지*/
  background-size: cover;
}
.checkbox input[type="checkbox"]:checked+label{
  background-repeat: no-repeat; /* 반복 방지 */
  background-image: url('../images/common/checked.png'); /*on 이미지*/
}

/* login_________________________________________ */  
#login .title-wrap .title h1{
  margin-bottom: 0;
}
#login .login-bottom{
  color: var(--color-gray-6);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#login .login-bottom a{
  color: var(--color-gray-6);
  font-size: 14px;
}
#login .bottom-btn{
  margin: 40px 0;
  cursor: pointer;
}

#login .social-btns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
#login .social-btns a{
  width: 116px;
  height: 65px;
  background-color: var(--color-gray-light);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#login .login-naver{
  color: #03C75A;
  font-size: 30px;
}
#login .login-google{
  color: #E94335;
  font-size: 24px;
}
#login .login-facebook{
  color: #2064B3;
  font-size: 24px;
}

#login .go-join{
  text-align: center;
  padding-bottom: 200px;
}
#login .go-join p{
  color: var(--color-gray-6);
  margin-bottom: 20px;
}
#login .go-join a{
  font-size: 16px;
  font-weight: 500;
}

/* join_________________________________________ */
#join .meeple-line{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
#join .meeple-line img{
  height: 14px;
}
#join .join-bottom{
  padding: 20px 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#join .join-bottom .checkbox{
  margin-bottom: 40px;
}

#join .join-bottom .checkbox p{
  margin-left: 10px;
}

#join .join-btn{
  width: 100%;
  padding-bottom: 96px;
}

/* join-complete_________________________________________ */
#join-complete{
  text-align: center; 
  padding: 200px 0;
}
#join-complete .join-meeple{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}
#join-complete .join-meeple img{
  width: 130px;
}
#join-complete .join-meeple img:nth-child(1){
  animation: meeple-left-ani 1.5s infinite ease-in-out;
}
#join-complete .join-meeple img:nth-child(2){
  animation: meeple-right-ani 1.5s infinite ease-in-out;
}

#join-complete .join-desc{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 40px 0;
  line-height: 24px;
}
#join-complete .join-desc h3{
  margin-bottom: 20px;
}

#join-complete .join-desc .logo a{
  display: inline-block;
}
#join-complete .join-btn{
  width: 100%;
  padding-bottom: 130px;
}

@keyframes meeple-left-ani {
  0%{transform: rotate(-10deg);}
  50%{transform: rotate(0) translateX(10px);}
  100%{transform: rotate(-10deg);}
}
@keyframes meeple-right-ani {
  0%{transform: rotate(10deg);}
  50%{transform: rotate(0) translateX(-10px);}
  100%{transform: rotate(10deg);}
}